Welcome to {{ ansible_hostname }}, running {{ ansible_distribution }} {{ ansible_distribution_version }}.

Unauthorized access to this system is strictly forbidden.

This machine is {{ ansible_os_family }} based and uses {{ ansible_pkg_manager }} for package management.
